<h1>Add Restaurant</h1>
<p>Please complete the following form in order to add your restaurant.</p>
<Hr>
<%= form_for @restaurant, :html => {multipart: true} do |f| %>
	<%= f.label 		:name %><br>
	<%= f.text_field	:name %><br>
	<br>
	<%= f.label 		:desc %><br>
	<%= f.text_field	:desc %><br>
	<br>	
	<%= f.label 		:address %><br>
	<%= f.text_field	:address %><br>
	<br>
	<%= f.label 		:phone %><br>
	<%= f.text_field	:phone %><br>
	<br>
	<%= f.label 		:avatar %><br>
	<%= f.file_field	:avatar %><br>
	<br>
	<%= f.submit "Add Restaurant" %>

<% end %>

